.o-spinner
  &__unit
    display: inline-block
    width: 6px
    height: 24px
    margin: 2px
    background-color: #884898
    animation: sk-stretchdelay 1s infinite ease-in-out
    @for $i from 1 through 5
      &-#{$i}
        animation-delay: $i * .1s - 1.1s

@keyframes sk-stretchdelay
  0%, 40%, 100%
    transform: scaleY(.5)
  20%
    transform: scaleY(1)
