.o-page
  max-width: 940px
  margin: .625em auto 2em
  &__side-block
    float: left
    width: $side_menu_width
  &__main-block
    display: block
    overflow: hidden

.o-header
  display: flex
  align-items: center
  margin-bottom: .75em
  &__title
    width: $side_menu_width
    font-size: 2em
  &__spinner
    margin-right: 1em
    opacity: 0
    transition: .2s opacity
    &.is-active
      opacity: 1

.o-user
  &__avatar
    display: inline-block
    width: 60px
    height: 60px
    margin-right: .5em
    border-radius: 50%
    box-shadow: 0 0 2px #000
    background: center center no-repeat
    background-size: cover
  &__actions
    display: inline-block
    text-align: center
  &__name
    display: block
  &__logout

.o-store
  flex: 1
  font-size: 1.5em
  &__item
    display: inline-block
    & + &
      margin-left: .75em
  &__link
    &.is-active
      border-bottom: 2px solid lighten($color_peach, 15)
      color: $color_peach

.o-menu
  padding-left: 1em
  font-size: 1.25em
  &__item
    & + &
      margin-top: .75em
  &__link
    &.is-active
      color: #d72012
