.o-pagination
  &__item
    display: inline-block
    &.is-active .o-pagination__link
      font-weight: 500
      color: #000
    &--more
      &:first-child:after
        content: "..."
      &:last-child:before
        content: "..."
  &__link
    padding: 0 .5em

.o-panel
  display: flex
  align-items: flex-end
  margin-bottom: .5em
  padding-bottom: .25em
  border-bottom: 1px solid #999
  &__title
    margin-right: 1.5em
    font-size: 1.5em
  &__back-link,
  .o-pagination
    flex: 1
    text-align: right
  &__mode-option
    vertical-align: middle
  &__mode-label
    display: inline-block
    margin-right: .75em
    padding: 0 .25em
    vertical-align: middle

.o-inventory-table
  margin-left: 1em
  color: #16160e
  &__row
    padding: 0.5em
    &--header
      font-weight: 500
      font-size: 1.125em
      color: #1e50a2
    &:nth-child(even)
      background-color: #f7fcfe
    &:not(:first-child)
      cursor: pointer
      &:hover
        background-color: #a0d8ef

.o-goods-list
  display: flex
  &__item
    flex: 1

.o-inventory-detail
  &__item
    margin: .75em 0
  &__label
    margin-bottom: .125em
    font-weight: 500
  &__value
    padding: .5em .75em
    border: 1px solid #999
    border-radius: 3px
    font-weight: 300
  &__item:last-child &__value
    min-height: 4em


.s-view-mode
  &--column
    .o-main-content
      display: flex
    .o-inventory-table
      flex: 1
      .u-mode-locator ~ .o-goods-list__item
        display: none
      &__row.is-selected
        position: relative
        &:before
          content: ""
          position: absolute
          top: 0
          bottom: 0
          right: 100%
          height: 0
          margin: auto 4px
          border-left: 8px solid #d9333f
          border-top: 5px solid transparent
          border-bottom: 5px solid transparent
    .o-inventory-detail
      flex: 1
      margin-top: .5em
      margin-left: 1em
      padding: 0em 2em 1em 1em
      border-left: 1px solid #ccc

  &--detail
    .o-inventory-detail
      &__item
        &:not(:last-child)
          display: inline-block
          width: 48%
          margin-left: 1%
          margin-right: 1%
        &:last-child
          width: 98%
          margin-left: auto
          margin-right: auto
