.o-login
  position: absolute
  top: 45%
  left: 0
  right: 0
  transform: translateY(-50%)
  width: 320px
  margin: 0 auto
  &__title
    position: absolute
    bottom: 100%
    width: 100%
    text-align: center
    font-size: 4em
  &__status
    position: absolute
    left: 0
    right: 0
    text-align: center
  &__error-msg
    color: #ec6800
    font-size: 1.125em
    font-weight: 300

.o-form
  &__field
    position: relative
    margin: 1em 0
  &__input-text
    width: 100%
    padding: .25em .25em .125em
    border-bottom: 1px solid #999
    font-size: 1.5em
  &__button
    width: 100%
    margin-top: .25em
    padding: .25em
    font-size: 1.5em
  &__tip
    opacity: 0
    position: absolute
    top: 50%
    transform: translateY(-50%)
    transition: .3s opacity
    margin-left: .5em
    white-space: nowrap
    color: #1e50a2
  &__input-text:focus + &__tip
    opacity: 1
