@import "./style/config"

// Customized normalize
html, body, div, span, p,
h1, h2, h3, h4, h5, h6,
a, img,
ol, ul, li,
form, label, input,
header, footer, nav
  margin: 0
  padding: 0
  border: 0
  box-sizing: border-box
  vertical-align: baseline
  font: inherit
  font-size: 100%
html
  line-height: 1
  font-size: 16px
body
  background-color: #f0f2f5
body, input
  font-family: "Helvetica Neue", "Roboto", Helvetica, Arial, sans-serif
ol, ul
  list-style: none
a
  color: #7d828c
  text-decoration: none
  &:hover
    color: #2a2e3c
  img
  border: none
input[type="text"],
input[type="password"]
  background-color: transparent
  &:focus
    outline: none
    border-bottom-color: #000

// Utility
.u-clearfix:after
  content: ""
  display: table
  clear: both

.u-align-middle
  vertical-align: middle

.u-center-message
  position: absolute
  left: 0
  right: 0
  top: 45%
  transform: translateY(-50%)
  margin: 0 auto
  text-align: center
  font-size: 1.5em


// Layout
@import "./style/layout/main"

// Components
@import "./style/components/spinner"

// App pages
@import "./style/pages/login"
@import "./style/pages/inventory"
