doctype html
html
  head
    meta(charset="utf-8")
    title Bindo f2e testing
    link(rel="stylesheet", href="style.css")
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500")
  body
    #root
    script(src="libs.js")
    script(src="bundle.js")
